.sub-label {
    color: grey; 
    font-size: 12px; 
    margin-left: 10px; 
}

.text-input {
    width: calc(100% - 22px); 
    border: 1px solid rgb(211, 211, 211); 
    background-color: rgb(241, 241, 241); 
    padding: 10px; 
    color: rgb(36, 36, 36); 
    margin: 5px 0px; 
    font-size: 16px; 
}
